body {
    font-family: 'Times New Roman', Times, serif;
}

#main{
    text-align: center;
    padding-right: 10vw;
    padding-left:10vw;
}
 /* unvisited link */
a:link {
  color: rgb(47, 0, 255);
}

/* visited link */
a:visited {
  color: rgb(19, 12, 236);
}

/* mouse over link */
a:hover {
  color: rgb(64, 237, 1);
}

/* selected link */
a:active {
  color: rgb(228, 255, 27);
} 
.babcia {
  object-fit: contain; /* Scale to fit, keep aspect ratio */
  object-position: center; /* Center the image */
  align-items: center;
    padding-right: 10vw;
    padding-left:10vw;
}

h2 {
    font-size:20px;
    font-weight: normal;
}

.currently {
    border-bottom: 1px solid black;
    padding-bottom:18px;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top:0;
    background-color: white;
}
.columns {
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
}
@media (min-width: 920px) {
  .columns {
  flex-direction: row;
  }}

.column {
    width:100%;
    height: 100vh;
    overflow: scroll;
    
}

.oneProject, .oneText, .oneType {
    font-size: 18px;
    padding-left:20px;
    padding-bottom: 28px;
    padding-top: 28px;
    color:#5d0909;
    
}
.oneDrawing {
  width: 100%;
  height: auto;
  margin-top:48px;
 
}
/* .projectTitle{
    background-color: #a6a894;
} */
.projectInfo, .textInfo {
color:black;
margin-top:3px;
font-size: 16px;
padding-top: 8px;
}
.projectType {
    color:#7A8D00;
    margin-top:3px;
    font-size: 16px;
}
.textType {
    color:#C0229E;
    margin-top:3px;
    font-size: 16px;
}
.category {
    text-align: center;
}

.drawings {
    padding-bottom:98px;
    padding-left:98px;
    padding-right:98px;
}
