body {
    font-family: 'Times New Roman', Times, serif;
     height: 100%;
  margin: 0;
  overflow: hidden; 
}

#main{
    text-align: center;
    padding-right: 26vw;
    padding-left:26vw;
}

 /* unvisited link */
a:link {
  color: rgb(47, 0, 255);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(19, 12, 236);
}

/* mouse over link */
a:hover {
  color: rgb(64, 237, 1);
}

/* selected link */
a:active {
  color: rgb(228, 255, 27);
} 
.babcia {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}
#fotkaBabcia {
  width:520px;
}

h2 {
    font-size:20px;
    font-weight: normal;
}

.currently {
    border-bottom: 1px solid black;
    padding-bottom:12px;
    padding-top:6px;
    padding-left: 10px;
    padding-right: 10px;
    position:sticky;
    top:0;
    background-color: white;
}
.footer{
  position:fixed;
  bottom:0;
  margin-left:6px;
}
.columns {
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
}
@media (min-width: 920px) {
  .columns {
  flex-direction: row;
  }}

.column {
    width:100%;
    height: 100vh;
    overflow: scroll;
    
}

.oneProject, .oneText, .oneType {
    font-size: 20px;
    padding-left:38px;
    padding-bottom: 20px;
    padding-top: 20px;
    color:#5d0909;
    
}
.oneDrawing {
  width: 100%;
  height: auto;
  margin-top:48px;
 
}
/* .projectTitle{
    background-color: #a6a894;
} */
.projectInfo, .textInfo {
color:black;
margin-top:3px;
font-size: 16px;
/* padding-top: 8px; */
}
.projectType {
    color:#7A8D00;
    margin-top:3px;
    font-size: 16px;
}
.textType {
    color:#C0229E;
    margin-top:3px;
    font-size: 16px;
}
.category {
    text-align: center;
}

.drawings {
    padding-bottom:98px;
    padding-left:98px;
    padding-right:98px;
}
